body {
    background-color: #282828;
}
.info {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    line-height: 0.1;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}
@media all and (max-width: 550px) {
    .info, hr
    {
        visibility: hidden;
        margin: auto;
    }
    .watch, .social, .dev, .linux {
        flex-direction: column;
        width: auto;
    }
}
.list_title
{
    font-size: 35px;
}
.lists {
    display: flex;
    flex-wrap: wrap;
    vertical-align: top;
    justify-content: center; 
    font-family: 'Overpass Mono', monospace;
}
.work, .social, .dev, .docs {
    display: flex;
    flex-direction: column;
    padding: 40px;
}
hr {
    margin-top: 40px;
    color: #dee3de;
    width: 500px;
}
a:visited, a:link, a:active {
    color: #bbb;
    text-decoration: none;
    font-size: 26px;
    text-indent: 2px;
    line-height: 1.5;
}
a:hover {
    color: #97cdfd !important
}
#greeting {
    font-size: 32px;
    color: #458588;
}
#time {
    font-size: 28px;
    color: #458588;
}

#gray {
  color: #928374
}
#red {
  color: #fb4934
}
#green {
  color: #b8bb26
}
#yellow {
  color: #fabd2f
}
#blue {
  color: #83a598
}
#purple {
  color: #d3869b
}
#aqua {
  color: #8ec07c
}
#fg {
  color: #ebdbb2
}
